@model Room
@{
    ViewBag.Title = "Room";
}
<style>
    a.selected {
        font-weight: bold;
    }
</style>

<div ng-app="theApp" ng-controller="roomController">
    <h2>Room - {{greeting.text}}</h2>

    <div>
        <canvas id="chart" width="200" height="200"></canvas>
    </div>

    <p>Room number is [@Model.RoomNumber]</p>

    <ul>
        <li ng-repeat="option in options">
            <a ng-click="postAnswer(option)" ng-class="{selected:option.selected}">
                {{option.text}}
            </a>
        </li>
    </ul>

    <div>
        <a ng-click="reset()">Reset</a>
    </div>

    <p>Are you owner of this room? -> @(Model.OwnerUserID == this.User.Identity.Name ? "Yes" : "No")</p>
</div>
@section scripts{
    <script>
        var _app = _app || {};
        _app.roomNumber = @Model.RoomNumber;
    </script>
    <script src="~/app.js"></script>
}