@model Room
@{
    var isOwner = Model.OwnerUserID == this.User.Identity.Name;
}
@section headerLeft{
    <a href="/" class="go-home"></a>
}

<div ng-app="theApp" ng-controller="roomController as ctrl" class="@(isOwner ? "owner" : "") room-page">
    <div>Room number</div>
    <div class="room-number">
        @Model.RoomNumber
    </div>

    <div class="chart-container">
        <canvas id="chart" width="200" height="200"></canvas>
        <div class="counters">
            <span class="counter" ng-repeat="option in options" ng-bind="option.count">
            </span>
        </div>
        <div class="separator">:</div>
    </div>

    <ul class="options">
        <li ng-repeat="option in options">
            <a ng-click="ctrl.postAnswer(option)"
               ng-class="'selected-'+option.selected + ' option-'+option.text">
                <span class="text" ng-bind="option.text"></span>
            </a>
        </li>
    </ul>

    <div class="owner-only">
        <a ng-click="ctrl.reset()" class="reset">Reset</a>
    </div>

</div>
@section scripts{
    <script>
        var _app = _app || {};
        _app.roomNumber = @Model.RoomNumber;
    </script>
    <script src="~/app.js"></script>
}